{% extends 'index.html'%}
{%load static%}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<script src="{% static 'js/user.js' %}"></script>
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

<style>
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

    .cardi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #353535;
        color: #fff;
        box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;

        width: 100%;
        border-radius: 4px;
        transition: all 500ms;
        overflow: hidden;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }



    .basic-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }

    .card {
        color: transparent;
    }

    .cards {
        color: transparent;
        width: 300px;
    }

    .card:hover {
        box-shadow: 20px 20px 80px -44px #000;
        transition: .5s ease-in-out;
        cursor: pointer;
        color: black;
    }

    .card:hover h5 {
        color: green;
    }

    model-viewer {
        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 0%, #434343 100%);
        border-radius: 15px;
    }

    .home-img3 {
        width: 100%;
        height: 250px;
        padding-bottom: 5px;
        border-radius: 15px;
    }
</style>

<body>

    <div class="container mt-4 d-flex mb-5">
        <div class="row">
            {% for k in its %}
            <div class="col-md-4 mt-5 cards">
                <div class="card">
                    <a href="" data-toggle="modal" data-target="#modal{{ k.id }}">
                        <model-viewer class="home-img3" src="{{ k.gib.url }}" alt="New York" ar
                            ar-modes="webxr scene-viewer quick-look" environment-image="neutral" auto-rotate
                            camera-controls></model-viewer>
                    </a>
                    <div class="card-body">
                        <h2 class="card-title">{{k.modelname}}</h2>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">{{k.description}}</p>
                            {% if k.price == '0' %}
                            <h5 class="card-text mr-4">Free</h5>
                            {% else %}
                            <h5 class="card-text mr-4">{{k.price}}</h5>
                            {% endif %}
                        </div>
                        <a href="" class="card-link text-decoration-none" data-toggle="modal"
                            data-target="#modalId{{k.id}}">More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Modal Code -->
    {% for k in its %}
    <div class="modal fade pt-5" id="modalId{{k.id}}">
        <div class="modal-dialog bg-success">
            <div class="modal-content" style="transform: scaleX(1.4);">
                <div class="modal-header pb-2">
                    <h1 class="font-weight-light ml-4">{{k.description}}</h1>
                    <button class="btn btn-danger" aria-label="Dismiss alert" type="button" data-dismiss="modal"
                        data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <hr style="color: white;">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="" data-toggle="modal" data-target="#modal{{ k.id }}">
                                    <model-viewer class="home-img3" src="{{ k.gib.url }}" alt="New York" ar
                                        ar-modes="webxr scene-viewer quick-look" environment-image="neutral" auto-rotate
                                        camera-controls></model-viewer>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <div class="cardi">
                                    <div class="card-title">
                                        <br>
                                        <br>
                                        <h3>Product Details</h3>
                                    </div>
                                    <div class="cardi-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <table class="table table-responsive text-light">
                                                    <tr>
                                                        <td>Model Name</td>
                                                        <td>{{k.modelname}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Description</td>
                                                        <td>{{k.description}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Price</td>
                                                        <td>{{k.price}} $</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Type</td>
                                                        <td>{{k.types}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Format</td>
                                                        <td>{{k.format}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Model Type</td>
                                                        <td>{{k.modeltype}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Category</td>
                                                        <td>{{k.cat_id.category_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href=""><button class="btn btn-primary">
                                                                    Buy_NOW</button></a></td>
                                                        <td><a href=""><button
                                                                    class="btn btn-info">Add2Cart</button></a></td>
                                                    </tr>

                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <script>

        $(document).ready(function () {
            $(".card-link").click(function () {
                $(".rounded").attr("src", $(this).parent().siblings().attr("Src"));
                $(".product_name").text($(this).siblings("h2").text());
                $(".product_desc").text($(this).siblings("div").find("p:nth(0)").text());
                $(".product_price").text($(this).siblings("div").find("p:nth(1)").text());
            });
            $(window).resize(function () {
                if ($(window).width() < 600) {
                    $(".modal-content").css("transform", "scaleX(1)");
                }
                else {
                    $(".modal-content").css("transform", "scaleX(1.4)");
                }
            });
        });


    </script>
    {% endblock %}